# These variables are stored globally because they are both used by the docker-compose and by the backend.
# They are passed to depending apps and interpolated, for example, on the db connection string.

# You can put anything as passwords but we recomend generating strong keys at https://tooleroid.com/jwt-secret-generator
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

REDIS_PASSWORD=""

# Dont change this, it will interpolate the variables defined before.
DB_URL='postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DATABASE}'